body {
  background-color: #a1d490;
  font-family: 'sans-serif';
}
nav {
  background-image: url('../img/bg_menu.gif');
  height:      25px;
  margin-top: -20px;
}
aside {
  display : inline-block;
  width:      100px;
  margin-top:  20px;
  margin-left: 10px;
}
section {
  display: inline-block;
  width:    700px;
  margin-right: 0;
}
hr {
  margin-top: -19px;
  border: 1px solid green;
}
footer {
  text-align: right;
  margin-right: -110px;
  color: green;
  font-weight: bold;
}
h1 img{
  vertical-align: middle;
}
h1, .sousTitre {
  color: green;
}
audio {
  padding:8px;
  background-color: lightgreen;
  border-radius: 5px;
  margin-left: 150px;
  margin-top: 30px;
}
audio:hover {
  background-color: green;
}
video {
  width: 465px;
  margin-top: 10px;
  margin-top: 30px;
  margin-left: 10%;
  padding:8px;
  background-color: lightgreen;
  border-radius: 5px;
}
video:hover {
  background-color: green;
}
table a {
  color: green;
}
th {text-align: left;}
fieldset {border: 2px solid green;}
legend {color: green;
font-weight: bold;}
.active {
  background-color: green;
}
.bg {vertical-align: top;}
.conteneur {
  height:           auto;
  width:            825px;
  min-width:        825px;
  margin-left:      auto;
  margin-right:     auto;
  border: 2px solid green;
  background-color:  #fff;
}
.menuHaut li {
  display: inline-block;
  text-align:    center;
  line-height:     25px;
  width:          150px;
  border-right: 2px solid white;
}
.menuHaut li a {
  text-decoration: none;
  color: #fff;
}
.menuHaut li a:hover {
  color: grey;
}
.article {
  text-indent: 35px;
}
.article p {
  line-height:  1.5em;
  text-align: justify;
}
.articles {
  display: inline-block;
!  position:    absolute;
  width:          500px;
}
.sousTitre {
  position: relative;
  border-left:   3px solid green;
  border-bottom: 1px solid green;
  padding-right:          465px;
  margin-left:              35px;
  font-weight:            bolder;
}
.sousArticle {
  text-indent: 35px;
  margin-top: -16px;
}
#titre {
  vertical-align: top;
  margin-top:    10px;
}
#menu1 {
  margin-left: -40px;
}
#annuler {
  background-color: black;
  color: #24fb36;
  border-radius: 20px;
  height:32px;
  width:150px;
  font-style: italic;
  border: transparent;
  font-size: 1.1em;
  position: relative;
  bottom: 14px;
}
#formulaire td {
  padding-left: 38px;
}
